.start-form {
  width: fit-content;
  place-self: center;
  line-height: normal;
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: 10px;
}

.splash-zone {
  height: 40vh;
}
